/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.nav-wrapper .brand-logo {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.nav-wrapper .brand-logo img {
    height: 48px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.cemu-color, .tabs .indicator {
  background-color: #064757 !important;
}

.cemu-color-lighter {
  background-color: #58838D !important;
}

.cemu-color-text {
  color: #58838D !important;
}

.cemu-card-icon > .card-image {
  width: 5%;
  padding-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cemu-card-icon > .card-image > .material-icons {
  font-size: 48px;
  /* Implement materialize right */
  margin-left: 15px;
  float: right !important;
  /* Implement materialize right-align */
  text-align: right;
}

.cemu-header-image {
  background: linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
      ),
      url(https://i.imgur.com/0GZRIck.png),
      url(https://i.imgur.com/26sioCw.png),
      url(https://i.imgur.com/LznBl5u.png);
  background-repeat: no-repeat;
  background-size: 100%, 175%, 140%, 175%;
  background-position: center center, center center, right center, -2.5% center; 
}

@media only screen and (min-width: 768px) {
  .cemu-header-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
      ),
      url(https://i.imgur.com/0GZRIck.png),
      url(https://i.imgur.com/26sioCw.png),
      url(https://i.imgur.com/LznBl5u.png);
    background-repeat: no-repeat;
    background-size: 100%, 50%, 35%, 50%;
    background-position: center center, center center, right center, -2.5% center; 
  }
}

.not-found-outer {
  width: 100%;
}

.not-found-inner {
  margin-top: 165px;
  margin-bottom: 165px;
  text-align: center;
}
