[submodule "core/debug/zdis"]
	path = core/debug/zdis
	url = https://github.com/CE-Programming/zdis.git
[submodule "core/jit/asmjit"]
	path = core/jit/asmjit
	url = https://github.com/asmjit/asmjit.git
