[submodule "core/debug/zdis"]
	path = core/debug/zdis
	url = https://github.com/CE-Programming/zdis.git
[submodule "gui/qt/deps/tivars_lib_cpp"]
	path = gui/qt/deps/tivars_lib_cpp
	url = https://github.com/adriweb/tivars_lib_cpp.git
[submodule "gui/qt/deps/KDDockWidgets"]
	path = gui/qt/deps/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets.git
