# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Profiling and Coverage
*.out.*
*.prof*
*.supp

# Qt stuff
.qmake.stash
*.pro.user*
moc_*.cpp

# Other
*.xcodeproj*
*.autosave
*~
\#*\#
*build*

# Windows and Mac crap
Thumbs.db
.DS_Store

# Stuff used in the Emscripten version
*.rom
*.data
*.bc
*.js.mem

# IntelliJ IDEs things
**/.idea/

# libpng[-apng] things
gui/qt/capture/libpng*
