[Desktop Entry]
Version=1.0
Name=CEmu
Comment=Emulator for the eZ80-based TI-84 Plus CE / TI-83 Premium CE calculators
Type=Application
Icon=cemu
MimeType=application/x-tice-rom;application/x-cemu-image;application/x-tice-variables;application/x-tice-group;application/x-tice-program;application/x-tice-app;application/x-tice-os;
StartupNotify=true
Terminal=false
Exec=CEmu %F
Categories=Education;Science;Math;System;Emulator;
