# Example Qt archive config
# This is the older (and no longer used) x64 dynamic 5.12.0 script, translated to the newer config.
fmt = [ARCH=64, QT_ARCH=x64, OUTPUT_ARCHIVE_PREFIX=Qt{qt_version}_Rel_Win{ARCH}, OUTPUT_ARCHIVE_SUFFIX=_DevDeploy, QT_MAJOR_VERSION=5, QT_MINOR_VERSION=12, QT_PATCH_VERSION=0]

# Qt configuration
qt-version = {QT_MAJOR_VERSION}.{QT_MINOR_VERSION}.{QT_PATCH_VERSION}
qt-dir = Qt{qt_version}{QT_ARCH}
qt-lib-dll-subdir = 5.12\msvc2015

# General configuration
output-archive = {OUTPUT_ARCHIVE_PREFIX}{OUTPUT_ARCHIVE_SUFFIX}.7z
