{% extends 'base.html' %}
{% set active_page = "404" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
  <div class="container valign-wrapper">
            <div class="not-found-outer valign">
              <div class="not-found-inner">
                <i class="material-icons" style="font-size: 48px;">error</i>
                <h5>Page Not Found</h5>
                <p class="">
                  Oops! You navigated to an invalid page.<br /><br />
                  <a class="waves-effect waves-light btn default-color" href="{{ page_subdir }}/">Home</a>
                </p>
              </div>
            </div>
  </div>
{% endblock content %}
