{% extends 'base.html' %}

{% set navbar_tabs = True %}

{% block title %}Download{% endblock %}

{% block navbar_tabs %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="divider"></div>
        <div class="row">
            <h3>Download Stable Version</h3>
            <p>This is your best bet if you want to get up and running quickly without any issues. If you want the cutting edge, click the above tab for a development build.</p>
            <a href="https://github.com/CE-Programming/CEmu/releases/latest" id="download-button" class="btn-large waves-effect waves-light cemu-color-lighter"><i class="material-icons left">file_download</i>Download For All Platforms</a>
        </div>
        <div class="divider"></div>
        <div class="row">
            <h3>Download Development Builds</h3>

            <p>Note that some of these builds are bleeding-edge versions - they may break at any time! Recommended only if you want to try new features, and don't mind occasional bugs.</p>
            <p>For now, this is the version that will allow use to use "USB transfers", i.e. being able to transfers files such as OSes and apps to the emulated calculator.</p>

            The Windows builds are provided by <a href="https://github.com/jacobly0">@jacobly0</a> (on his server, built with MinGW).
            The Linux and macOS builds are provided by <a href="https://github.com/adriweb">@adriweb</a> (built by OBS for Linux).<br /><br />
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">picture_in_picture_alt</i>Windows</div>
                    <div class="collapsible-body">
                        Simply download, extract the ZIP, and run the .exe to get started.<br /><br />
                        <a href="https://jacobly.com/CEmu/master/CEmu64.exe" id="download-button" class="tooltipped btn-large waves-effect waves-light cemu-color-lighter" data-position="bottom" data-delay="50" data-tooltip="Most modern PCs should be able to run this slightly faster 64-bit build.<br />If in doubt, download this, and if it doesn't work, try the 32-bit build instead."><i class="material-icons left">file_download</i>Download 64-bit</a>
                        <a href="https://jacobly.com/CEmu/master/CEmu32.exe" id="download-button" class="tooltipped btn-large waves-effect waves-light cemu-color-lighter" data-position="bottom" data-delay="50" data-tooltip="Download this 32-bit build if the 64-bit one doesn't work for you."><i class="material-icons left">file_download</i>Download 32-bit</a>
                        <br /><br />
                        (Last updated: on each master commit)
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">desktop_mac</i>Mac</div>
                    <div class="collapsible-body">
                        <a href="https://github.com/CE-Programming/CEmu/files/9610398/CEmu_v2.0_macOS_2022-09-20.dmg.zip" id="download-button" class="btn-large waves-effect waves-light cemu-color-lighter"><i class="material-icons left">file_download</i>Download macOS 64-bit</a>
                        <br /><br />
                        (Last updated: 2021-09-20)
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">dashboard</i>Linux</div>
                    <div class="collapsible-body">
                        You may first want to try this nightly-updated 64-bit Linux build : <br>
                        <a href="https://jacobly.com/CEmu/master/CEmu" id="download-button" class="tooltipped btn-large waves-effect waves-light cemu-color-lighter" data-position="bottom" data-delay="50" data-tooltip="Most modern PCs should be able to run this slightly faster 64-bit build."><i class="material-icons left">file_download</i>Download 64-bit</a>
                        <br/><br/>
                        But otherwise, downloads for most distros are available on the Open Build Service, although it is not as up-to-date:
                        <br/><br/>
                        <a href="https://software.opensuse.org/download.html?project=home%3Aadriweb%3ACEmu&amp;package=cemu&amp;locale=en" id="download-button" class="btn-large waves-effect waves-light cemu-color-lighter"><i class="material-icons left">file_download</i>Download Linux (All Distros)</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $.ajaxPrefilter( function (options) {
      if (options.crossDomain && jQuery.support.cors) {
        var http = (window.location.protocol === 'http:' ? 'http:' : 'https:');
        options.url = http + '//cors-anywhere.herokuapp.com/' + options.url;
        //options.url = "http://cors.corsproxy.io/url=" + options.url;
      }
    });
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
<script src="js/artifactory-hunter.js"></script>
<script src="js/cemu-dl.js"></script>
<script type="text/javascript">
    CEmuDownloader.init();
</script>
{% endblock scripts %}
