{% extends 'base.html' %}

{% set navbar_tabs = True %}

{% block title %}Download{% endblock %}

{% block navbar_tabs %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="divider"></div>
        <div class="row">
            <h3>Download Stable Version</h3>
            <p>This is your best bet if you want to get up and running quickly without any issues. If you want the cutting edge, click the section below for a development build.</p>
            <a href="https://github.com/CE-Programming/CEmu/releases/latest" id="download-button" class="btn-large waves-effect waves-light cemu-color-lighter"><i class="material-icons left">file_download</i>Download For All Platforms</a>
        </div>
        <div class="divider"></div>
        <div class="row">
            <h3>Download Development Builds</h3>
            <p>Note that these are automated "bleeding-edge" versions - they are probably stable enough, but may break at any time! Recommended only if you want to try new features, and don't mind occasional bugs.</p>
            <a href="https://github.com/CE-Programming/CEmu/releases/tag/nightly" id="download-button" class="btn-large waves-effect waves-light cemu-color-lighter"><i class="material-icons left">file_download</i>Download For All Platforms</a>
        </div>
    </div>
</div>
{% endblock content %}
