services:
  wasm-build:
    image: emscripten/emsdk:3.1.74
    volumes:
      - ../core:/src/core
      - ./public/wasm:/src/output
    working_dir: /src/core
    command: >
      bash -c "
        make -f emscripten.mk clean &&
        make -f emscripten.mk wasm &&
        cp WebCEmu.js WebCEmu.wasm /src/output/ &&
        echo 'Build complete!'
      "
